<!-- app/views/skill_sessions/_form.html.erb -->

<div data-controller="nested-form" class="p-4">
  <%= form_for @skill_session do |f| %>


  <% if @skill_session.errors.any? %>
  <div id="error_explanation" class="px-3 py-2 mt-3 font-medium text-red-500 rounded-lg bg-red-50">
    <h2><%= pluralize(@skill_session.errors.count, "error") %> prohibited this skill_session from being saved:</h2>
    <ul>
      <% @skill_session.errors.each do |error| %>
      <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>



<div id="skill-session-details" class="bg-white shadow p-6">
  <!-- SkillSession fields -->
  <div class="grid grid-cols-2 gap-4">
  <div>
    <%= f.select :type,
                          options_for_select([
                                              'Solo Drills',
                                              'Partner Drills',
                                              'Competition',
                                              'Mental Visualization',
                                              'Class',
                                              'Rolls'],
                                            :selected => @last_activity_type
                          ),
                          {},
                          { :class =>
                              "bg-transparent border border-indigo-900 shadow rounded-md border border-gray-200
        outline-none" } %>
  </div>
  <div>
      <%= f.date_field :date,
                            class: "bg-transparent border border-indigo-900 shadow rounded-md border border-gray-200
      outline-none float-right", :value => Time.now.strftime('%Y-%m-%d') %>
  </div>
</div>


    <div class="mt-5">
      <%= f.label :notes,
                 class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>

      <%= f.text_area :notes,
                     class: "shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-lg rounded-lg block w-full p-2.5",
                     placeholder:
                       "Notes on the session",
                     data: {
                      controller: "textarea-autogrow",
                     } %>

    </div>

</div> <%# skill_session_details %>

  <div data-nested-form-target="fieldsContainer">
    <%= f.fields_for :activities do |activity| %>
      <%= render "activity_fields", f: activity %>
    <% end %>
  </div>

  <!-- Template for new nested activity -->
  <div data-nested-form-target="template" id="activity_template" style="display:none;">
    <%= f.fields_for :activities, Activity.new, child_index: "NEW_RECORD" do |activity| %>
      <%= render "activity_fields", f: activity %>
    <% end %>
  </div>

  <%# f.hidden_field :user_id, :value => 1 %>


  <div class="block mx-auto text-center my-4">
  <a href="#" data-action="nested-form#addFields" class="py-1 px-3 rounded text-green-800 border border-green-800 bg-white hover:text-white hover:bg-green-800 cursor-pointer">Add More Activities</a>
  </div>


  <div class="block mt-3">
    <%= f.submit class: "btn-primary" %>

  </div>

  <% end %>
</div>
