<div class="container mx-auto p-4">
  <h1 class="text-2xl font-bold mb-4">Dashboard</h1>

  <div class="grid grid-cols-2 gap-4">

    <div class="bg-white rounded p-4 shadow-lg col-span-2">
      <h3 class="text-lg font-bold mb-2">Average Rating per Skill</h3>
      <%= bar_chart @avg_rating_per_skill, class: "h-40" %>
    </div>

    <!-- Total Activities in a Week Chart -->
    <div class="bg-white rounded p-4 shadow-lg">
      <h3 class="text-lg font-bold mb-2">Types of Activities</h3>
      <%= pie_chart @activity_types_count, class: "h-40" %>
    </div>

    <!-- Total Reps in a Week Chart -->
    <div class="bg-white rounded p-4 shadow-lg">
      <h3 class="text-lg font-bold mb-2">Total Reps in a Week</h3>
      <%= line_chart @total_reps_by_week, class: "h-40" %>
    </div>

    <!-- Average Rating Chart -->
    <div class="bg-white rounded p-4 shadow-lg col-span-2">
      <h3 class="text-lg font-bold mb-2">Total Reps by Day</h3>
      <%= line_chart @total_reps_by_day, class: "h-40" %>
    </div>

    <!-- Types of Activities Pie Chart -->
    <div class="bg-white rounded p-4 shadow-lg col-span-2">
      <h3 class="text-lg font-bold mb-2">Number of Activities in a Week</h3>
      <%= column_chart @activities_by_week %>
    </div>

    <!-- Types of Activities Pie Chart -->
    <div class="bg-white rounded p-4 shadow-lg col-span-2">
      <h3 class="text-lg font-bold mb-2">Average Rating by Day</h3>
      <%= line_chart @average_rating_by_day %>
    </div>
  </div>

  <article
    class="flex items-end justify-between rounded-lg border border-gray-100 bg-white p-6"
  >
    <div>
      <p class="text-sm text-gray-500">Reps this week</p>

      <p class="text-2xl font-medium text-gray-900">23</p>
    </div>

    <div class="inline-flex gap-2 rounded bg-green-100 p-1 text-green-600">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-4 w-4"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6"
          />
      </svg>

      <span class="text-xs font-medium"> 32.4 </span>
    </div>
  </article>

  <article
    class="flex items-end justify-between rounded-lg border border-gray-100 bg-white p-6"
  >
    <div>
      <p class="text-sm text-gray-500">Training Sessions this week</p>

      <p class="text-2xl font-medium text-gray-900">5</p>
    </div>

    <div class="inline-flex gap-2 rounded bg-red-100 p-1 text-red-600">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-4 w-4"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M13 17h8m0 0V9m0 8l-8-8-4 4-6-6"
          />
      </svg>

      <span class="text-xs font-medium"> 30% </span>
    </div>
  </article>
</div>





