<div class="bg-purple-gradient text-white p-6 h-40">
  <div class="float-left">
    <img src="<%= asset_path('logo.svg') %>" alt="Skylz logo" class="mr-8 h-24 w-24"/>
  </div>
  <div class="float-left">
    <span class="text-3xl text-white font-header">Skylz</span><br>
    <span>Track, Improve, Master</span>
  </div>
  <div class="float-right">
    <%= link_to "Log In", new_user_session_path, class: "text-white border-white rounded px-4 py-2" %>
  </div>
</div>

<!-- Full-Width Panel -->
<div class="bg-gray-100 w-full py-20 flex items-center justify-around">
  <!-- Bruce Lee Image -->
  <img src="<%= asset_path('bruce-lee.png') %>" alt="Bruce Lee" class="w-1/4 h-auto rounded shadow-lg">

  <!-- Quote Text -->
  <div class="text-center w-1/2">
    <h1 class="text-2xl md:text-3xl lg:text-4xl xl:text-5xl font-bold text-gray-900">
      "I fear not the man who has practiced 10,000 kicks once,
    </h1>
    <h1 class="text-2xl md:text-3xl lg:text-4xl xl:text-5xl font-bold text-gray-900">
      but I fear the man who has practiced one kick 10,000 times."
    </h1>
    <p class="text-md md:text-lg lg:text-xl xl:text-2xl text-gray-700 mt-4">- Bruce Lee</p>
  </div>
</div>

<div class="p-8 text-center bg-purple-gradient">
  <%= link_to "Start Using Skylz Now", new_user_registration_path, class: "bg-white rounded text-purple p-5 mx-auto" %>
</div>

<div class="p-6 bg-gray-50 h-40">
  <h2 class="text-2xl">Why Skylz?</h2>
  <p>Track your skills, improve your expertise, and demonstrate your proficiency.</p>
  <!-- DALL-E Prompt: "Create an image that visually captures the essence of skill mastery in a dynamic way." -->
</div>

<div class="p-6 bg-gray-200">
  <h2 class="text-2xl mb-6">What People Are Saying</h2>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-6">

    <!-- Testimonial 1 -->
    <div class="bg-white p-4 rounded">
      <p>⭐️⭐️⭐️⭐️⭐️</p>
      <p class="py-2">
        "Skylz has revolutionized the way I track my skills. Now I know exactly where I stand."</p>
      <div class="flex items-center space-x-4">
        <img class="w-8 h-8 rounded-full" src="<%= asset_path('face.jpg') %>" alt="Person's face">
        <div>
          <span class="font-semibold">Jane Doe</span>
          <span class="text-gray-500">Software Engineer</span>
        </div>
      </div>
    </div>

    <!-- Testimonial 2 -->
    <div class="bg-white p-4 rounded">
      <p>⭐️⭐️⭐️⭐️⭐️</p>
      <p class="py-2">
        "I never thought tracking my jiu-jitsu techniques could be so easy. Skylz is a game-changer!"
      </p>
      <div class="flex items-center space-x-4">
        <img class="w-8 h-8 rounded-full" src="<%= asset_path('face.jpg') %>" alt="Person's face">
        <div>
          <span class="font-semibold">John Smith</span>
          <span class="text-gray-500">BJJ Brown Belt</span>
        </div>
      </div>
    </div>

    <!-- Testimonial 3 -->
    <div class="bg-white p-4 rounded">
      <p>⭐️⭐️⭐️⭐️⭐️</p>
      <p class="py-2">"As a paramedic, it's crucial for me to stay updated on my skills. Skylz gives me that
        confidence."</p>
      <div class="flex items-center space-x-4">
        <img class="w-8 h-8 rounded-full" src="<%= asset_path('face.jpg') %>" alt="Person's face">
        <div>
          <span class="font-semibold">Emily Johnson</span>
          <span class="text-gray-500">Paramedic</span>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="p-6 bg-white">
  <h2 class="text-2xl">Features</h2>
  <p>From skill tracking to quick training sessions, discover what you can do with Skylz.</p>
  <!-- DALL-E Prompt: "Create an image showcasing diverse skills, from athletic to academic, all being tracked on a digital platform." -->
  <br>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
    <div>
      <h3 class="text-xl">Track</h3>
      <p>Keep track of your skills and see how you're progressing.</p>
      <img src="<%= asset_path('sales-list-iphone.png') %>" alt="" class="h-128 w-82"/>

    </div>
    <div>
      <h3 class="text-xl">Improve</h3>
      <p>Get personalized recommendations to improve your skills.</p>
      <img src="<%= asset_path('sales-description-iphone.png') %>" alt="" class="h-128 w-82"/>

    </div>
    <div>
      <h3 class="text-xl">Master</h3>
      <p>Get certified and demonstrate your proficiency.</p>
      <img src="<%= asset_path('sales-activities-iphone.png') %>" alt="" class="h-128 w-82"/>

    </div>
  </div>
</div>

<div class="p-6 bg-gray-50">
  <h2 class="text-2xl">For Professionals</h2>
  <p>Keep track of your proficiencies to boost your career.</p>
  <!-- DALL-E Prompt: "Create an image of a professional environment where skills like project management and coding are being tracked on a screen." -->
</div>

<div class="p-6 bg-white">
  <h2 class="text-2xl">For Athletes</h2>
  <p>Monitor your training sessions and prepare for competitions.</p>
  <!-- DALL-E Prompt: "Create an image of an athlete checking his skill metrics on a tablet during training." -->
</div>


<div class="p-6 bg-white">
  <h2 class="text-2xl">For Coaches</h2>
  <p>Assign your team members drills and watch how their performance improves.</p>
</div>

<div class="p-6 bg-gray-50">
  <h2 class="text-2xl">For Students and Lifelong Learners</h2>
  <p>Stay on top of your learning journey.</p>
  <!-- DALL-E Prompt: "Create an image of a student tracking language learning skills on a laptop." -->
</div>

<!--<div class="flex space-x-4 p-8 text-xl">-->
<!--  Free Plan Card -->
<!--  <div class="flex-1 bg-white p-6 rounded-lg shadow-lg">-->
<!--    <h3 class="text-xxl font-semibold mb-2 text-center">Individual User</h3>-->
<!--    <p class="text-gray-600">Free</p>-->
<!--    <ul class="list-disc pl-6 mt-2">-->
<!--      <li>Track 5 Skillsets 📊</li>-->
<!--      <li>Unlimited Skills 📝</li>-->
<!--      <li>Activity Logging 📆</li>-->
<!--    </ul>-->
<!--  </div>-->

<!--  Coach's Plan Card -->
<!--  <div class="flex-1 bg-white p-6 rounded-lg shadow-lg">-->
<!--    <h3 class="text-xxl font-semibold mb-2 text-center">Coach's Plan</h3>-->
<!--    <p class="text-gray-600">$1 per player/month 💵</p>-->
<!--    <ul class="list-disc pl-6 mt-2">-->
<!--      <li>All Free Plan Features ✔️</li>-->
<!--      <li>Team Collaboration 🤝</li>-->
<!--      <li>Advanced Analytics 📈</li>-->
<!--      <li>Priority Support 📞</li>-->
<!--    </ul>-->
<!--  </div>-->
<!--</div>-->

<div class="mx-auto max-w-3xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
  <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 sm:items-center md:gap-8">
    <div
      class="rounded-2xl border border-indigo-600 p-6 shadow-sm ring-1 ring-indigo-600 sm:order-last sm:px-8 lg:p-12"
    >
      <div class="text-center">
        <h2 class="text-lg font-medium text-gray-900">
          Pro
          <span class="sr-only">Plan</span>
        </h2>

        <p class="mt-2 sm:mt-4">
          <strong class="text-3xl font-bold text-gray-900 sm:text-4xl">
            $1
          </strong>

          <span class="text-sm font-medium text-gray-700">user/month</span>
        </p>
      </div>

      <ul class="mt-6 space-y-2">
        <li class="flex items-center gap-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="h-5 w-5 text-indigo-700"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M4.5 12.75l6 6 9-13.5"
              />
          </svg>
          <span class="text-gray-700"> All free plan features</span>
        </li>

        <li class="flex items-center gap-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="h-5 w-5 text-indigo-700"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M4.5 12.75l6 6 9-13.5"
              />
          </svg>
          <span class="text-gray-700"> Priority email support</span>
        </li>

        <li class="flex items-center gap-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="h-5 w-5 text-indigo-700"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M4.5 12.75l6 6 9-13.5"
              />
          </svg>
          <span class="text-gray-700"> Team collaboration</span>
        </li>

        <li class="flex items-center gap-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="h-5 w-5 text-indigo-700"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M4.5 12.75l6 6 9-13.5"
              />
          </svg>
          <span class="text-gray-700"> 10GB of storage</span>
        </li>

        <li class="flex items-center gap-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="h-5 w-5 text-indigo-700"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M4.5 12.75l6 6 9-13.5"
              />
          </svg>
          <span class="text-gray-700"> Advanced analytics</span>
        </li>

        <li class="flex items-center gap-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="h-5 w-5 text-indigo-700"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M4.5 12.75l6 6 9-13.5"
              />
          </svg>
          <span class="text-gray-700"> Phone support </span>
        </li>

      </ul>

      <a
        href="#"
        class="mt-8 block rounded-full border border-indigo-600 bg-indigo-600 px-12 py-3 text-center text-sm font-medium text-white hover:bg-indigo-700 hover:ring-1 hover:ring-indigo-700 focus:outline-none focus:ring active:text-indigo-500"
      >
        Get Started
      </a>
    </div>

    <div
      class="rounded-2xl border border-gray-200 p-6 shadow-sm sm:px-8 lg:p-12"
    >
      <div class="text-center">
        <h2 class="text-lg font-medium text-gray-900">
          Starter
          <span class="sr-only">Plan</span>
        </h2>

        <p class="mt-2 sm:mt-4">
          <strong class="text-3xl font-bold text-gray-900 sm:text-4xl">
            $0
          </strong>

          <span class="text-sm font-medium text-gray-700">/month</span>
        </p>
      </div>

      <ul class="mt-6 space-y-2">
        <li class="flex items-center gap-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="h-5 w-5 text-indigo-700"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M4.5 12.75l6 6 9-13.5"
              />
          </svg>

          <span class="text-gray-700"> Track 4 skillsets</span>
        </li>
        <li class="flex items-center gap-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="h-5 w-5 text-indigo-700"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M4.5 12.75l6 6 9-13.5"
              />
          </svg>

          <span class="text-gray-700"> Unlimited skills</span>
        </li>
        <li class="flex items-center gap-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="h-5 w-5 text-indigo-700"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M4.5 12.75l6 6 9-13.5"
              />
          </svg>

          <span class="text-gray-700"> 2GB of storage </span>
        </li>
        <li class="flex items-center gap-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="h-5 w-5 text-indigo-700"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M4.5 12.75l6 6 9-13.5"
              />
          </svg>

          <span class="text-gray-700"> Activity logging</span>
        </li>

        <li class="flex items-center gap-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="h-5 w-5 text-indigo-700"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M4.5 12.75l6 6 9-13.5"
              />
          </svg>

          <span class="text-gray-700"> AI generated quizzes</span>
        </li>

        <li class="flex items-center gap-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="h-5 w-5 text-indigo-700"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M4.5 12.75l6 6 9-13.5"
              />
          </svg>

          <span class="text-gray-700"> Email support </span>
        </li>

        <li class="flex items-center gap-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="h-5 w-5 text-indigo-700"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M4.5 12.75l6 6 9-13.5"
              />
          </svg>

          <span class="text-gray-700"> Help center access </span>
        </li>
      </ul>

      <a
        href="#"
        class="mt-8 block rounded-full border border-indigo-600 bg-white px-12 py-3 text-center text-sm font-medium text-indigo-600 hover:ring-1 hover:ring-indigo-600 focus:outline-none focus:ring active:text-indigo-500"
      >
        Get Started
      </a>
    </div>
  </div>
</div>