<div id="<%= dom_id practice_item %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Skill:</strong>
    <%= practice_item.skill_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Practicelist:</strong>
    <%= practice_item.PracticeList_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this practice item", practice_item, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this practice item', edit_practice_item_path(practice_item), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
