<%= form_with(model: skill, class: "contents") do |form| %>
  <% if skill.errors.any? %>
    <div id="error_explanation" class="px-3 py-2 mt-3 font-medium text-red-500 rounded-lg bg-red-50">
      <h2><%= pluralize(skill.errors.count, "error") %> prohibited this skill from being saved:</h2>
      <ul>
        <% skill.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mt-5 mb-5">
    <%= form.text_field :name, placeholder: :name, class: "w-full rounded-sm focus:ring-1 focus:ring-indigo-900 caret-indigo-900" %>
    <br />
    <br />
    <%= form.text_field :reason, placeholder: "Reason/motivation/objective", class: "w-full rounded-sm focus:ring-1 focus:ring-indigo-900 caret-indigo-900" %>
    <br />
    <br />
    <%= form.text_area :notes, placeholder: "Notes", id: "notesTextarea", class: "bg-white w-full" %>
    <br />
    <br />
    <%= form.text_area :steps, id: "stepsTextarea", class: "w-full", 
    placeholder: "Steps:\nPut each step\nOn a separate line", onblur: 'setHeight("stepsTextarea")' %>
    <br />
    <br />
    <%= form.text_field :tags, placeholder: "Tags: e.g: advanced, choke", class: "w-full" %>
    <br />
    <br />
    <% if current_user.skillsets.count > 1 %>
      <%= form.label :skillset_id, class: "" %><br />
      <%= form.select :skillset_id, current_user.skillsets.collect {|d| [ d.name, d.id ] }, :selected => @skillset.id, class: "w-full" %>
    <% else %>
      <%= form.hidden_field :skillset_id, value: @skillset.id %>
    <% end %>
  </div>

  <div class="block">
    <%= form.submit class: "inline-flex items-center bg-indigo-500 px-4 py-2 text-base font-medium rounded-lg text-white cursor-pointer" %>
  </div>




<% end %>

<script>
  setHeight("stepsTextarea");
</script>
