<%= form_with(model: skill, class: "contents") do |form| %>
  <% if skill.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(skill.errors.count, "error") %> prohibited this skill from being saved:</h2>

      <ul>
        <% skill.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :name, class: "dark:text-slate-400"%><br />
  <%= form.text_field :name, class: "dark:bg-slate-800 dark:text-slate-400 dark:focus:ring-stone-50" %><br />
  <br />
  <%= form.label :notes, class: "dark:text-slate-400" %><br />
  <%= form.text_area :notes, class: "dark:bg-slate-800 dark:text-slate-400" %><br />
  <br />
  <%= form.label :tags, class: "dark:text-slate-400" %><br />
  <%= form.text_field :tags, placeholder: "separate, tags with, commas", class: "dark:bg-slate-800 dark:text-slate-400" %>
  <br />
  <br />
  <%= form.label :domain_id, class: "dark:text-slate-400" %><br />
  <%= form.select :domain_id, Domain.all.collect {|d| [ d.name, d.id ] }, :selected => @domain.id, class: "dark:bg-slate-800 dark:text-slate-400" %>
  <br>



  <div class="inline">
    <%= form.submit class: "rounded-lg mt-5 py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
