<%= form_with(model: skill, class: "contents") do |form| %>
  <% if skill.errors.any? %>
    <div
      id="error_explanation"
      class="px-3 py-2 mt-3 font-medium text-red-500 rounded-lg bg-red-50"
    >
      <h2><%= pluralize(skill.errors.count, "error") %>
        prohibited this skill from being saved:</h2>
      <ul>
        <% skill.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mt-5 mb-5">

    <div class="mb-6">
      <%= form.label :name,
                 class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
      <%= form.text_field :name,
                      class:
                        "shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5",
                      required: true %>
    </div>

    <div class="mb-6">
      <%= form.label :reason,
                 "When to use",
                 class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
      <%= form.text_field :reason,
                      class:
                        "shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5" %>
    </div>

    <div class="mb-6">
      <%= form.label :notes,
                 class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
      <%= form.text_area :notes,
                     placeholder: "Notes",
                     id: "notesTextarea",
                     class: "bg-white w-full",
                     data: {
                       controller: "textarea-autogrow"
                     } %>

    </div>

    <div class="mb-6">
      <%= form.label :steps,
                 class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>

      <%= form.text_area :steps,
                     id: "stepsTextarea",
                     class: "w-full",
                     placeholder:
                       "* Start section header with *\nPut each step\n*Section 2\nOn a separate line\nLike so",
                     data: {
                       controller: "textarea-autogrow"
                     } %>

    </div>

    <div class="mb-6">
      <%= form.label :tags,
                 class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
      <%= form.text_field :tags,
                      placeholder: "Tags: e.g: advanced, choke",
                      class: "w-full" %>
    </div>

    <div class="mb-6">
      <% if current_user.skillsets.count > 1 %>
        <%= form.label :skillset_id,
                   class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
        <%= form.select :skillset_id,
                    current_user.skillsets.collect { |d| [d.name, d.id] },
                    selected: @skillset.id,
                    class:
                      "block w-full p-2 mb-6 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50" %>
      <% else %>
        <%= form.hidden_field :skillset_id, value: @skillset.id %>
      <% end %>
    </div>

  </div>

  <div class="block">
    <%= form.submit class:
                  "inline-flex items-center bg-indigo-500 px-4 py-2 text-base font-medium rounded-lg text-white cursor-pointer" %>
  </div>

<% end %>
