<div id="<%= dom_id skill%>" class="">
<% if action_name != "show" %>
    <div class="flex items-center justify-center w-full">
      <div class="w-full h-2 md:hidden bg-green-700"></div>

      <div tabindex="0" aria-label="card 1"
        class="focus:outline-none mb-7 bg-white p-6 shadow rounded">
        <div class="flex items-center border-b border-gray-200">
          <%# <img src="https://cdn.tuk.dev/assets/components/misc/doge-coin.png" alt="coin avatar" class="w-12 h-12 rounded-full" /> %>
          <div class="flex items-start justify-between w-full">
            <div class="pl-3 w-full">
              <%= link_to skill.name, skill, class: "focus:outline-none text-xl font-medium leading-5 text-gray-800" %>
              <p tabindex="0" class="focus:outline-none text-sm leading-normal pt-2 text-gray-500"><%=  skill.activities.last.date.strftime("%a") unless skill.activities.empty? %></p>
              <p tabindex="0" class="focus:outline-none text-sm leading-normal pt-2 text-gray-500">
                <%= "Last rated: #{skill.activities.last.rating}" unless skill.activities.empty? %>
              </p>
            </div>
            <div role="img" aria-label="bookmark">
              <svg class="focus:outline-none" width="28" height="28" viewBox="0 0 28 28" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M10.5001 4.66667H17.5001C18.1189 4.66667 18.7124 4.9125 19.15 5.35009C19.5876 5.78767 19.8334 6.38117 19.8334 7V23.3333L14.0001 19.8333L8.16675 23.3333V7C8.16675 6.38117 8.41258 5.78767 8.85017 5.35009C9.28775 4.9125 9.88124 4.66667 10.5001 4.66667Z"
                  stroke="#2C3E50" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </div>
          </div>
        </div>
        <div class="px-2">
          <p tabindex="0" class="focus:outline-none text-sm leading-5 py-4 text-gray-600">A group of people interested
            in dogecoin, the currency and a bit of side for the meme and dof that we all know and love. These cases are
            perfectly simple and easy to distinguish.</p>
          <div tabindex="0" class="focus:outline-none">
            <% if !skill.tags.empty? 
                          skill.tags.split(", ").each do |tag|%>
            <div class="py-2 px-4 text-xs leading-3 
                            text-indigo-700 rounded-full bg-indigo-100 mb-3 inline">#<%= tag %></div>
            <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

<% else %>
<h1 class="text-6xl font-bold py-3 text-center"><%= skill.name %></h1>

<h2 class="font-bold text-xl mb-3">Activity Log (<%= skill.activities.count %>)</h2>
<ul>
    <% skill.activities.reverse.each do |activity| %>
        <li class="mb-3"><span class="text-xl"><%= activity.description %></span> 
        <br><div class="text-xs"><em><%= activity.date.strftime("%a, %e %b %Y") %> - <span class="text-md leading-3 text-orange-900 inline"><%= activity.activity_type %></span> </em> <%= link_to "edit", edit_skill_activity_path(skill, activity), class: "float-right hover:font-bold" %></div></li>
    <% end %>
    <%= link_to 'Log A Session', new_skill_activity_path(skill), class: "inline-flex items-center py-2 px-4 text-sm font-medium text-center text-white bg-green-700 rounded-lg hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
</ul>
<br>


<div>Last practiced: <%=  rand(2..30) %> days ago</div>
<div><strong>Stats:</strong> Rolls 20x, Competition: 3x, Drills: 54x</div>
<br class="mb-10">
<div id="steps divide-y divide-solid">
  <div class="step mb-3 pb-2 border-b-1 border-black flex">
    <span class="h-full bg-gray-800 text-xl text-center text-white font-extrabold rounded-r-lg p-2 mr-5 cursor-move leading-none w-1/6">1</span>
    <span class="text-2xl p-1 ml-4 w-5/6 leading-relaxed" contenteditable="true">It takes the lotion</span>
  </div>
  <div class="step mb-3 pb-2 border-b-1 border-black flex">
    <span class="h-full bg-gray-800 text-xl text-center text-white font-extrabold rounded-r-lg p-2 mr-5 cursor-move leading-none w-1/6">2</span>
    <span class="text-2xl p-1 ml-4 w-5/6 leading-relaxed" contenteditable="true">It put the lotion on the skin</span>
  </div>


</div>

<br>
<p><strong>Remember:</strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda odit, veniam autem eligendi repellat recusandae, est perspiciatis ullam, eius veritatis eos officia nihil rem vero ducimus? Distinctio magni aperiam beatae.</p>
<br>
<br>

<h2 class="font-bold text-xl">Media</h2>
<ul>
  <li class="p-3"><a href="" class="text-blue-500 underline hover:text-black text-lg">Roger Gracie demonstrates move (youtube.com)</a></li>
  <li class="p-3"><a href="" class="text-blue-500 underline hover:text-black text-lg">Simple demo (youtube.com)</a></li>
</ul>
<br>
<br>

<h2 class="font-bold text-xl mb-3">Related Skills</h2>
  <span class="p-3"><a href="" class="text-indigo-700 bg-indigo-100 hover:text-indigo-100 hover:bg-indigo-700 rounded-full  mb-3 py-2 px-4 text-lg whitespace-nowrap">Kimura from Mount</a></span>
  <span class="p-3"><a href="" class="text-indigo-700 bg-indigo-100 hover:text-indigo-100 hover:bg-indigo-700 rounded-full  mb-3 py-2 px-4 text-lg whitespace-nowrap">Triangle from Mount</a></span>
<br>
<br>

<a href="#" class="inline-flex items-center py-2 px-4 text-sm font-medium 
    text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 
    focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700
    dark:focus:ring-blue-800">Marked as practiced today</a>
<hr>
<br>

<br>
<%#= render "activities/form", :activity => @activity, :skill => @skill %>


<div class="text-center border border-sky-500 py-3">
  <h2 class="font-bold text-xl">Log A Session</h2>
  <a href="#">hide</a><br><br>
  <input type="datetime-local" id="meeting-time" name="meeting-time" value="2022-05-11T15:30">
  <br>
  <textarea name="" id="" cols="30" rows="10" placeholder="Type some notes here"></textarea><br>

  <select name="" id="">
    <option value="">Solo Training</option>
    <option value="">Drills</option>
    <option value="">Competition</option>
  </select>
  <br>
  My Skill Rating:
  <div class="slidecontainer">

    <input type="range" min="1" max="10" value="50" class="slider" id="myRange">
    <span id="sliderValue"></span>

  </div>
  <br>
  <button
    class="inline-flex items-center py-2 px-4 text-sm font-medium text-center text-white bg-green-700 rounded-lg hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Save</button>
</div>

<% end %>
</div>
