<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg 
    inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1>
      Skills for <%= @domain.name %>
    </h1>
    <%= link_to new_skill_path do %>
      <span class="btn-primary"><%= fa_icon "plus", class: "mr-2" %> New</span>
    <% end %> 
  </div>

  <div id="search-filter-bar" class="mt-5 flex justify-between items-center">
    <div class="inline w-[60%]">
      <input type="text" class="w-full my-5 py-3 px-3" placeholder="Filter skills">
    </div>
    <div id="sort-by" class="inline-block w-[40%] flex align-middle ml-5">
        <div class="">
          <span class="text-gray-900">sort by:</span>
          <select name="" id="" class="bg-transparent">
            <option value="">frequency</option>
            <option value="">recent</option>
            <option value=""># of reps</option>
            <option value="">rating</option>
            <option value="">age</option>
          </select>
          <%= fa_icon "arrow-up", class: "mr-2 cursor-pointer" %>
        </div>
    </div>
  
  </div>


<div id="all-tags" class="w-full inline-block">
<%# TODO sort by most used, have tags flow off the screen and overflow:scroll %>
  <% Skill.where(user_id: current_user.id, domain_id: @domain.id)
    .pluck(:tags).join(",").split(",").collect(&:strip).uniq.reject(&:blank?).each do |tag| %>
    <span class="text-xs font-semibold 
        mr-5 px-5 py-0.5 rounded ml-3
        hover:cursor-pointer
        text-white bg-indigo-500
        hover:bg-indigo-900 cursor-pointer">
        <%= tag.strip %>
        </span>
  <% end %>
</div>



<div>
    <div aria-label="group of cards" tabindex="0" 
    class="focus:outline-none py-8 w-full flex flex-row flex-wrap justify-between">
      <%= render @skills %>
    </div>
</div>
