<div id="<%= dom_id domain %>" class="w-full flex justify-between">

  <p class="my-5 inline-block">
      <%= link_to edit_domain_path(domain) do %>
      <span class="p-3 rounded-lg hover:bg-indigo-900 hover:text-white"><%= fa_icon "pencil", class: ""%></span>
    <% end %> 
    <%= domain.name %>
  </p>

  <% if action_name != "show" %>
  <div class="float-right inline-block">

    <% if current_user.current_domain != domain.id %>
      <%= link_to 'Set current', set_domain_path(domain.id), class: "btn-primary" %>
      <%= button_to "Delete #{domain.name}", domain_path(domain), method: :delete, form_class: "inline-block", class: "py-3 ml-2 px-5 text-red-500 inline-block font-medium" %>
    <% end %>  
  </div>


    <hr class="mt-6">
  <% end %>
</div>
