    <div class="w-full max-w-sm mx-auto overflow-hidden bg-indigo-500 rounded-lg shadow-md">
        <div class="px-6 py-4">
            <h3 class="mt-1 text-xl font-medium text-center text-gray-200">Welcome Back</h3>

            <p class="mt-1 text-center text-gray-100">Login or create account</p>

              <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { data: { turbo: false} } ) do |f| %>
                <div class="w-full mt-4">
                    <%= f.email_field :email, placeholder: "Email Address", 
                    class: "block w-full px-4 py-2 mt-2 bg-transparent text-white border border-white focus:border-indigo-900 placeholder-gray-100 rounded-md focus:outline-none", autofocus: true, autocomplete: "email" %>
                </div>

                <div class="w-full mt-4">
                    <%= f.password_field :password, placeholder: "Password", 
                    autocomplete: "current-password", 
                    class: "block w-full px-4 py-2 mt-2 bg-transparent text-white border border-white focus:border-indigo-900 placeholder-gray-100 rounded-md focus:outline-none" %>
                </div>

                <div class="flex items-center justify-between mt-4">
                  <%= link_to 'Forget Password?', new_user_password_path, class: "text-sm text-gray-200 hover:text-white" %>

                  <%= f.submit "Log in", class: "px-4 py-2 rounded-md cursor-pointer leading-5 text-white border border-white focus:outline-none" %>
                    
                </div>
            </form>
        </div>
        
        <% if alert %>
          <div class="flex items-center justify-center py-4 text-center bg-red-700 alert">
              <span class="text-sm text-white"><%= alert %></span>
          </div>
        <% end %>

        <div class="flex items-center justify-center py-4 text-center bg-indigo-900">
            <span class="text-sm text-white">Don't have an account? </span>

            <%= link_to 'Register', new_user_registration_path, class: "mx-2 text-sm font-bold text-white hover:underline" %>
        </div>
    </div>


    <% if devise_mapping.rememberable? %>
      <div class="hidden">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

<% end %>
