<%= form_with(model: [@skill, activity], class: "contents") do |form| %>
  <% if activity.errors.any? %>
    <div id="error_explanation" class="px-3 py-2 mt-3 font-medium text-red-500 rounded-lg bg-red-50">
      <h2><%= pluralize(activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
        <% activity.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.text_area :description,
                       class: "bg-transparent border border-indigo-900 block shadow rounded-md border
    border-gray-200 outline-none px-3 py-2 mt-2 w-full", placeholder: "Short note about the activity (required)" %>
  </div>
  <div class="my-5">
    <%= form.select :activity_type,
                    options_for_select([
                                         'Solo Drills',
                                         'Partner Drills',
                                         'Competition',
                                         'Mental Visualization',
                                         'Class',
                                         'Rolls'],
                                       :selected => @last_activity_type
                    ),
                    {},
                    { :class =>
                        "bg-transparent border border-indigo-900 shadow rounded-md border border-gray-200
      outline-none px-3 py-2 mt-2 w-1/3" } %>
    <%= form.number_field :reps, :min => 1, class: "w-[80px]" %><span>x reps</span>

    <%= form.date_field :date,
                        class: "bg-transparent border border-indigo-900 shadow rounded-md border border-gray-200
      outline-none px-3 py-2 mt-2 w-1/3 float-right", :value => Time.now.strftime('%Y-%m-%d') %>
  </div>

  <div class="my-5">
    <%= form.label :rating, class: 'block' %>
    <div>
      <%= form.range_field :rating, :min => 0, :max => 10, :id => "slider1",
                           class: "form-range
      block shadow rounded-md border border-gray-200
      outline-none inline-block w-4/5 cursor-pointer" %>
      <span class="inline-block">10</span>
    </div>
  </div>

  <div class="my-5">
    <%= form.label :tags %>
    <%= form.text_field :tags, placeholder: "drills, solo", class: "bg-transparent border border-indigo-900 block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit "Save", class: "btn-primary" %>
  </div>
<% end %>
