<div class="bg-white shadow p-4">

  <%= form_with(model: [@skill, activity], class: "contents") do |form| %>
    <% if activity.errors.any? %>
      <div id="error_explanation" class="px-3 py-2 mt-3 font-medium text-red-500 rounded-lg bg-red-50">
        <h2><%= pluralize(activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

        <ul>
          <% activity.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="grid grid-cols-2 gap-4">
  <div>
  <%= form.select :activity_type,
                        options_for_select([
                                             'Solo Drills',
                                             'Partner Drills',
                                             'Competition',
                                             'Mental Visualization',
                                             'Class',
                                             'Rolls'],
                                           :selected => @last_activity_type
                        ),
                        {},
                        { :class =>
                            "bg-transparent border border-indigo-900 shadow rounded-md border border-gray-200
      outline-none" } %></div>
  <div>
      <%= form.date_field :date,
                            class: "bg-transparent border border-indigo-900 shadow rounded-md border border-gray-200
      outline-none float-right", :value => Time.now.strftime('%Y-%m-%d') %>
      </div>
</div>

<div class="custom-number-input mx-auto text-center">
      <label for="custom-input-number" class="w-full text-gray-700 text-sm font-semibold text-center inherit italic">x reps
      </label>
      <div class="flex flex-row h-10 w-32 rounded-lg relative bg-transparent mt-1 mx-auto">
        <button data-action="decrement" class=" text-gray-600 hover:text-gray-700 hover:bg-gray-400 h-full w-20 rounded-l cursor-pointer outline-none">
          <span class="m-auto text-2xl font-thin">−</span>
        </button>
        <%= form.number_field :reps, :min => 1, class: "outline-none focus:outline-none text-center w-full font-semibold hover:text-black focus:text-blackxflex items-center text-gray-700 text-2xl p-8", min: 1, value: 1 %>
        <button data-action="increment" class="text-gray-600 hover:text-gray-700 hover:bg-gray-400 h-full w-20 rounded-r cursor-pointer">
          <span class="m-auto text-2xl font-thin">+</span>
        </button>
      </div>
    </div>

    <div class="my-5" data-controller="activity-form">
        <%= form.label :rating, class: 'block' %>
        <div>
          <%= form.range_field :rating, :min => 0, :max => 10, :id => "slider1",
                               class: "form-range
      block shadow rounded-md border border-gray-200
      outline-none inline-block w-4/5 cursor-pointer", data: { action: "input->activity-form#updateValue", activity_form_target: "sl" } %>
          <span class="inline-block text-2xl ml-6" data-activity-form-target="val">5</span><span class="inline-block text-2xl">/10<span>
        </div>
      </div>


    <%# <div class="my-5">
      <div class=""> %>

    <div class="mb-6">
      <%= form.label :description, "How did it go? Any thoughts?",
                 class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
      <%= form.text_area :description,
                     placeholder: "",
                     id: "descriptinTextarea",
                     class: "shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-xl rounded-lg block w-full p-2.5",
                     data: {
                       controller: "textarea-autogrow",
                     } %>
    </div>

    <div class="mb-6 hidden">
      <%= form.label :tags,
                 class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
      <%= form.text_field :tags,
                      class:
                        "shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-lg rounded-lg block w-full p-2.5"
                        %>
    </div>

      <div class="inline">
        <%= form.submit "Save", class: "btn-primary" %>
      </div>
  <% end %>
  </div>
