<nav class="border-gray-200 px-2 sm:px-4 py-2.5 bg-white dark:bg-purple-gradient dark:text-white">
  <div class="container flex flex-wrap items-center justify-between mx-auto">
    <a href="/" class="flex items-center">
      <span class="self-center text-2xl font-header whitespace-nowrap text-gradient-to-r from-indigo-500 to-indigo-900">
<!--        <span class="p-2 text-3xl text-indigo-900 w-9 h-9">s</span>-->
        <img src="<%= asset_path('logo.svg') %>" alt="Skylz Logo" class="h-9 w-9 inline"/>
        <span>
          <%= Skillset.find(current_user.current_skillset).name if user_signed_in? %>
        </span>
      </span>
    </a>
    <div class="flex row">
      <div class="mt-2 md:hidden">
        <%= link_to new_skill_path do %>
          <span class=""><%= fa_icon "plus", class: "" %></span>
        <% end %>
      </div>
      <%# <span class="inline md:hidden"><%= Skillset.find(current_user.current_skillset).name %>
      <button data-collapse-toggle="mobile-menu" type="button"
              class="inline-flex items-center p-2 ml-3 text-sm rounded-lg text-red dark:text-white md:hidden focus:outline-none"
              aria-controls="mobile-menu" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
                d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                clip-rule="evenodd"></path>
        </svg>
        <svg class="hidden w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
        </svg>
      </button>
    </div>
    <div class="hidden w-full md:block md:w-auto" id="mobile-menu">
      <ul class="flex flex-col mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium">
        <li class="">
          <%= content_tag :a, 'Sessions', class: "hidden px-4 py-2 hover:underline" %>
        </li>
        <li class="">
          <%= content_tag :a, 'Training List', class: "hidden px-4 py-2 hover:underline" %>
        </li>
        <li class="">
          <%= link_to "New", new_skill_path, class: "block px-4 py-2 hover:underline" if user_signed_in? %>
        </li>
        <li class="">
          <%= link_to "Dash", dashboard_path, class: "block px-4 py-2 hover:underline" if user_signed_in? %>
        </li>
        <li class="">
          <%= link_to "Activities", activities_path, class: "block px-4 py-2 hover:underline" if user_signed_in? %>
        </li>
        <li>
          <%= link_to "Skillsets", skillsets_path, class: "block px-4 py-2 hover:underline" if user_signed_in? %>
        </li>

        <li>
          <button id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar"
                  class="flex items-center px-2 py-1">
            <%= fa_icon "bars 2x", class: "mr-2" %>
            <%= fa_icon "chevron-down" %>
          </button>
          <!-- Dropdown menu -->
          <div id="dropdownNavbar"
               class="z-10 hidden bg-white divide-y divide-gray-100 rounded shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
            <ul class="py-1 text-sm text-gray-700" aria-labelledby="dropdownLargeButton">
              <% if current_user && !current_user.skillsets.empty? %>
                <li class="block px-4 py-2 font-bold bg-gray-200">Switch to:</li>
                <% current_user.skillsets.each do |skillset| %>
                  <% if current_user.current_skillset == skillset.id %>
                    <li>
                      <%# link_to skillset.name, root_path, class: "block px-4 py-2 hover:underline dark:hover:bg-gray-600 dark:hover:text-white" %>
                    </li>
                  <% else %>
                    <li class="pl-2 bg-gray-200">
                      <%= link_to skillset.name, set_skillset_path(skillset.id), class: "block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" %>
                    </li>
                  <% end %>
                <% end %>
              <% end %>
              <li>
                <%= link_to "Manage Skillsets", skillsets_path, class: "block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" if user_signed_in? %>
              </li>
              <li>
                <%= link_to "Your Account", edit_user_registration_path, class: "block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" %>
              </li>
            </ul>
            <div class="py-1">
              <%= link_to "Sign out", destroy_user_session_path, class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white", data: { turbo_method: :delete } if user_signed_in? %>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="w-full h-1 m-0 bg-purple-gradient"></div>
