<!DOCTYPE html>
<html>

<head>
  <title>Skylz</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <%= favicon_link_tag asset_path('favicon.ico') %>
  <script>
    function setHeight(fieldId) {
      var field = document.getElementById(fieldId);
      // field.style.height = field.scrollHeight + 'px; overflow-y:hidden;';
      field.style.height = 0;
      field.style.height = (field.scrollHeight) + "px";
    }
  </script>
</head>

<body class="bg-white">
  <%= render 'layouts/navbar', cached: true %>

<div id="quote" class="hidden w-full p-3 mx-auto mb-5 text-lg italic text-center text-indigo-900 lg:block">
  <span>I fear not the man who has practiced 10,000 kicks once, but I fear the man who has practiced one kick 10,000 times</span>
  <span>—</span>
  <span class="font-extrabold"> Bruce Lee</span>
</div>
<%
# Repetition makes perfect. DeAndre Hopkins
# Repetition is the key to success.
# Practice does not make perfect. Only perfect practice makes perfect. Vince Lombardi
# In theory there is no difference between theory and practice. In practice there is. Yogi Berra
# The more you practice, the better you get, the more freedom you have to create. Jocko Willink
# The more I practice the luckier I get. Gary Player
# Practice makes permanent. Bobby Robson
# I know you've heard it a thousand times before. But it's true - hard work pays off. If you want to be good, you have to practice, practice, practice. If you don't love something, then don't do it. Ray Bradbury
# If you don't practice you don't deserve to win. Andre Agassi
# Practice puts brains in your muscles. Sam Snead
%>

  <main class="container px-5 mx-auto mt-5">
    <%= yield %>
  </main>
  <footer class="mt-[3rem] border border-t border-indigo-900">
  </footer>
</body>
</html>
