<!DOCTYPE html>
<html>

<head>
  <title>Skylz</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <%= favicon_link_tag asset_path('favicon.ico') %>
  <link rel="apple-touch-icon" sizes="128x128" href="<%= asset_path('favicon.ico') %>">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200;300;400;500;600;700;800&display=swap');
  </style>
  <script>
    function setHeight(fieldId) {
      var field = document.getElementById(fieldId);
      // field.style.height = field.scrollHeight + 'px; overflow-y:hidden;';
      field.style.height = 0;
      field.style.height = (field.scrollHeight) + "px";
    }
  </script>
</head>

<body class="bg-[#F2F2F6] dark:bg-black">
  <%= render 'layouts/navbar', cached: true %>
  <main class="container px-5 mx-auto">
    <%= yield %>
  </main>
  <footer class="mt-[3rem] border border-t border-indigo-900">
  </footer>
</body>
</html>
